.whatNew{
    min-height: 100vh;
    height: 100%;
    position: relative;
    background-color: rgba(60, 100, 177, 0.05);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding: 95px;
    
    @media(max-width:1200px){
        padding: 60px;
    }
    @media(max-width:767px){
        min-height: unset;
    }
    @media(max-width:480px){
        padding: 50px 30px;
    }
    &::after{
        content: '';
        background-image: url("../images/lines.svg");
        background-position: center;
        background-size: cover;
        display: block;
        z-index: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    &::before{
        content: '';
        background-image: url("../images/lines2.svg");
        background-position: center;
        background-size: cover;
        display: block;
        z-index: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    h6{
        font-style: normal;
        font-weight: 800;
        font-size: 14px;
        color: #828282;
        margin-bottom: 12px;
        z-index: 1;
    }
    h3{
        font-style: normal;
        font-weight: bold;
        font-size: 44px;
        color: #373F41;
        margin-bottom: 40px;
        max-width: 440px;
        z-index: 1;
        @media(max-width:991px){
            font-size: 30px;
            margin-bottom: 25px;
        }
        @media(max-width:767px){
            font-size: 25px;
        }
    }
    p{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.3px;
        margin-bottom: 68px;
        max-width: 440px;
        z-index: 1;
        @media(max-width:991px){
            font-size: 14px;
            margin-bottom: 30px;
        }
    }
}
.readMore {
    border: 1px solid #4F4F4F;
    background-color: #fff;
    color: #4F4F4F;
    border-radius: 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    padding: 11px 21px;
    z-index: 1;
}

// side bar 

.leftSideBar {
    display: block;
    height: calc(100vh - 20px);
    position: fixed;
    width: 300px;
    .mobileLogo {display: none;}
    .desktopLogo{
        margin-top: 20px;
    }
    @media(max-width:1100px){
        background-color: #fff;
        height: calc(100vh - 0px);
        padding-left: 17px;
        transition: all ease-in-out 0.5s;
        &.mobile{
            display: block;
            height: calc(100vh - 20px);
            position: fixed;
            width: 60px;
            overflow: hidden;
            transition: all ease-in-out 0.5s;
            .desktopLogo{
                display: none;
            }
            .mobileLogo {
                display: inline-block;
                margin-left: -10px;
                width: 48px;
                margin-top: 20px;
            }
            .leftSideTabs {
                .sideBarList {
                    li{
                        a{
                            color: transparent !important;
                        }
                    }
                }
                .signOutbtn {
                    font-size: 0px;
                    padding-bottom: 10px;
                    a{
                        font-size: 0px;
                        .desktopHidd {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    .desktopHidd {
        display: none;
    }
    .leftSideTabs{
        display: flex;
        flex-direction: column;
        min-height: calc(100% - 46px);
        justify-content: space-between;
        padding-top: 65px;
        .sideBarList {
            list-style: none;
            padding: 0;
            li{
                a{
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    color: #828282;
                    margin-bottom: 30px;
                    display: inline-block;
                    position: relative;
                    padding-left: 32px;
                    &.active{
                        color: #4F4F4F;
                        &::before{
                            background-color: #4F4F4F;
                        }
                        &::after{
                            content: '';
                            background-color: #4F4F4F;
                            position: absolute;
                            width: 4px;
                            height: 40px;
                            top: 50%;
                            transform: translateY(-50%);
                            left: -17px;
                        }
                    }
                    &::before{
                        content: '';
                        background-color: #DBDDE0;
                        top: 0;
                        left: 0;
                        height: 20px;
                        width: 20px;
                        position: absolute;
                        border-radius: 100%;
                    }
                }
            }
        }
        .signOutbtn {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            color: #828282;
            padding-left: 5px;
            padding-bottom: 10px;
            @media(max-width:1100px){
                padding-bottom: 30px;
            }
            a{
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                color: #4F4F4F;
                display: block;
            }
        }
    }
}

// header bar
.headerBlock{
    background-color: #F2F2F2;
    padding: 4px 36px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @media (max-width:767px){
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 15px;
    }
    .latestUpdate {
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.1px;
        color: #4F4F4F;
        margin-bottom: 0;
        margin-left: 21px;
        @media (max-width:767px){
            margin-left: 0;
            margin-top: 10px;
            width: 100%;
            text-align: center;
        }
    }
    .headerDropdown{
        @media(max-width:767px){
            width: 100%;
        }
        .dropdown-toggle {
            background-color: #E0E0E0;
            border: 1px solid #E0E0E0;
            border-radius: 21px;
            padding: 2px 10px;
            min-width: 255px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 20px;
            color: #4F4F4F;
            @media(max-width:767px){
                min-width: unset;
                width: 100%;
            }
            &:focus,&:active,&:hover{
                outline: none;
                box-shadow: none !important;
                background-color: #E0E0E0;
                border: 1px solid #E0E0E0;
                color: #4F4F4F;
            }
            &::after{
                content: '';
                border: 0px;
                background-image: url("../images/dropdownArrow.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                height: 12px;
                width: 12px;
            }
        }
    }
}

// search block 

.searchBlock {
    background-color: #E0E0E0;
    padding: 8px 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media(max-width:767px){
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 15px;
    }
    .searchinputblock{
        display: flex;
        align-items: center;
        width: -webkit-fill-available;
        width: -moz-available;
        @media(max-width:480px){
            flex-wrap: wrap;
        }
    }
    .pdfActionBtns {
        margin-left: 20px;
        @media(max-width:767px){
            margin-left: 10px; 
            padding-top: 10px;
        }
        .pdfDownlode{
            background-color: #4F4F4F;
            border-radius: 28px;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            color: #fff;
            border: 1px solid #4f4f4f;
            display: flex;
            align-items: center;
            padding: 7px 23px;
            img{margin-right: 5px;}
            @media(max-width:1024px){
                font-size: 0px;
                img{margin-right: 0px;}
            }
        }
        .pdfPrint {
            background-color: #4F4F4F;
            border-radius: 28px;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            color: #fff;
            border: 1px solid #4f4f4f;
            display: flex;
            align-items: center;
            padding: 7px 23px;
            margin-left: 10px;
            img{margin-right: 5px;}
            @media(max-width:1024px){
                font-size: 0px;
                img{margin-right: 0px;}
            }
        }
    }
    .form-group {
        margin-bottom: 0;
        width: 100%;
        margin-bottom: 0;
        max-width: 540px;
        @media(max-width:1300px){
            max-width:400px;
        }
        @media(max-width:1200px){
            max-width:330px;
        }
        @media(max-width:480px){
            max-width: unset;
        }
    }
    .searchIconInput{
        .input-group-prepend{
            .input-group-text {
                background: #FFFFFF;
                border-radius: 100px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border: 1px solid #fff;
            }
        }
        .form-control {
            background: #FFFFFF;
            border-radius: 100px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border: 1px solid #fff;
            font-style: normal;
            font-weight: 600;
            font-size: 13px;
            line-height: 16px;
            color: #4F4F4F;
            &:focus{
                outline: none;
                box-shadow: none !important;
            }
            &::placeholder{
                color: #BDBDBD;
            }
        }
    }
    .searchBtn {
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        color: #52575C;
        margin-left: 34px;
        letter-spacing: 0.2px;
        text-decoration-line: underline;
        @media (max-width:767px){
            white-space: nowrap;
            margin-left: 25px;
        }
        @media(max-width:480px){
            margin-left: auto;
            margin-top: 11px;
            margin-right: auto;
        }
    }
}
.advancedSearch {
    background-color: #E0E0E0;
    padding: 8px 36px;
    @media(max-width:480px){
        padding: 8px 20px;
    }
    h5{
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 26px;
        display: flex;
        align-items: center;
        letter-spacing: 0.2px;
        color: #333333;
        margin-bottom: 24px;
        margin-top: 18px;
    }
}
.MagnifyingGlass {
    background: #4F4F4F;
    border-radius: 28px;
    border: 1px solid #4F4F4F;
    margin-bottom: 20px;
    padding: 11px 21px;
    .signInImage {
        margin-right: 10px;
    }
}
.advancedInputBlock{
    .form-label {
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 16px;
        letter-spacing: 0.1px;
        text-transform: uppercase;
        color: #A0A4A8;
    }
    .advancedInput {
        background: #FFFFFF;
        border: 1px solid #fff;
        border-radius: 100px;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: #4F4F4F;
        padding: 21px 15px;
    }
}


// page naviagtion bar 
.componentTree {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 5px;
    @media(max-width:767px){
        padding: 10px 11px;
        flex-wrap: wrap;
    }
    a{
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 14px;
        letter-spacing: 0.2px;
        color: #828282;
        &.active{
            color: #4F4F4F;
        }
    }
    img{
        margin: 0 10px;
    }
}


// patientInfo
.patientInfo{
    padding: 24px;
    background: #E6EDF7;
    .patientName {
        @media(max-width:991px){
            margin-bottom: 15px;
        }
        h6{
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 18px;
            letter-spacing: 0.2px;
            text-transform: uppercase;
            color: #000000;
            margin-bottom: 0;
        }
        h4{
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 47px;
            letter-spacing: 0.2px;
            color: #000000;
            margin-bottom: 0;
            @media(max-width:480px){
                font-size: 25px;
                line-height: normal;
            }
        }
        h3{
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 18px;
            letter-spacing: 0.2px;
            color: #000000;
            margin-top: 12px;
        }
        h5{
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            display: flex;
            align-items: center;
            letter-spacing: 0.2px;
            color: #000000;
        }
    }
}

// Tabs 

.tabsBlock{
    margin: 0px 36px;
    padding: 0px 0;
    border-bottom: 2px solid #828282;
    @media(max-width:767px){
        margin: 0px 25px;
    }
    @media(max-width:480px){
        margin: 0px 15px;
    }
    .nav-item {
        .nav-link{
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 18px;
            letter-spacing: 0.2px;
            color: #4F4F4F;
            padding: 20px 15px;
            &.active{
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 17px;
                color: #000000;
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                    width: 100%;
                    height: 3px;
                    background: #828282;
                }
            }
        }
    }
}